body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
}

.logo {
  height: 40px;
}

.app-title {
  font-size: 20px;
  font-weight: bold;
  color: #00338e;
  padding-left: 20px;
}

.floor-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  background-color: #00338e;
}

.floor-buttons button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.floor-buttons button.selected {
  background-color: green;
  color: white;
  
}


main {
  display: flex;
  padding: 20px;
  height: calc(100vh - 140px);
  box-sizing: border-box;
}

.room-container {
  width: 20%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.room-list ul {
  list-style-type: none;
  padding: 0;
  text-align: center; 
}

.room-list li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  color: black;
  text-decoration: none
}

.room-list li:hover {
  text-decoration: none;
}
.room-list h3 {
  background-color: #00338e;
  color: white;
  padding: 10px;
  border-radius: 4px;
  margin: 0 0 10px 0;
  text-align: center;
}
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.room-list li.selected {
  background-color: #00338e;
  color: white;
  border-radius: 4px;
}

.map-container {
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  border: 2px solid #00338e;
}

#leafletMap {
  width: 100%;
  height: 100%;
}

.directions-container {
  position: relative;
  height: 50px;
  display: flex;
  align-items: left;
  justify-content: left;
  border: 2px solid #003366;
  border-radius: 8px;
  margin-top: 5px;
  
}
#directions {
  padding: 10px;         /* adds spacing inside the box */
  font-size: 14px;       /* optional: consistent text sizing */
}
.directions-text {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}
